<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zyon.notifier">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:allowBackup="false"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="rulyox.com" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/menu_set" />
        <activity
            android:name=".activity.AddDialogActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:theme="@style/DialogTheme"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".activity.EditDialogActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:theme="@style/DialogTheme"
            android:windowSoftInputMode="stateVisible" />

        <service android:name=".service.NotificationService" />
        <service android:name=".service.QuickAddService" />
        <service android:name=".service.ReviveService" />

        <receiver android:name=".service.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
